.navbar {
  background-color: #a8e6a1;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #14532d;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li a {
  text-decoration: none;
  color: #14532d;
  font-weight: 500;
}
